<footer>
  <div class="card">
      <div class="card-body">
          <h5 class="card-title">Beatriz de Almeida</h5>
          <p class="card-text">Projeto criado durante o curso Programador FullStack Angular7/Node: Proj WEB Galeria Imagem na udemy.</p>
          <a href="https://www.udemy.com/course/projeto-web-galeria-imagens-restful-angular-html5-bootstrap-node-mysql/" target="_blank" class="btn btn-primary">Curso</a>
          <a href="https://github.com/tyrandeluna/image-gallery" class="btn btn-primary github" target="_blank">Meu github</a>
      </div>
  </div>
</footer>