<div class="container">
  <div class="d-flex justify-content-center" *ngIf="showLoading">
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <h1 *ngIf="!showLoading">Galeria de Imagens</h1>

  <ngb-carousel *ngIf="imagens && !showLoading">
      <ng-template ngbSlide *ngFor="let item of imagens">
        <img [src]="item.caminho" alt="Random first slide" class="img-fluid" width="130%">
        <div class="carousel-caption">
          <h3>{{item.titulo}}</h3>
          <p>Projeto Galeria de Imagens</p>
        </div>
      </ng-template>
  </ngb-carousel>

</div>
